body {
  background: #e8e8e8;
  margin: 0;
}
.more-details {
  color: #000;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px 15px;
}
.mask-container {
  position: fixed;
  left: calc(50% - 500px);
  top: 250px;
  width: 300px;
  height: 400px;
  transform: scale(2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-height: 600px) {
  .mask-container {
    top: 150px;
  }
}
.mask-container .mask-shadow {
  background: #a1a1a1;
  width: 350px;
  height: 383px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  left: 70px;
  top: 53px;
  border-bottom-left-radius: 140px;
  box-shadow: 200px 0 #a1a1a1, 400px 0 #a1a1a1, 600px 0 #a1a1a1, 800px 0 #a1a1a1, 1000px 0 #a1a1a1, 1200px 0 #a1a1a1, 1400px 0 #a1a1a1, 1600px 0 #a1a1a1, 1800px 0 #a1a1a1, 2000px 0 #a1a1a1, 2200px 0 #a1a1a1, 2400px 0 #a1a1a1, 2600px 0 #a1a1a1, 2800px 0 #a1a1a1, 3000px 0 #a1a1a1, 3200px 0 #a1a1a1, 3400px 0 #a1a1a1, 3600px 0 #a1a1a1, 3800px 0 #a1a1a1, 4000px 0 #a1a1a1;
  border-right: 1px solid #a1a1a1;
}
.mask-container .mask-base {
  background: #e8e8e8;
  border-bottom: 1px solid #a1a1a1;
  position: absolute;
  width: 320px;
  height: 470px;
  bottom: 32px;
  left: -48px;
  border-bottom-left-radius: 55px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  border-bottom-right-radius: 210px 250px;
}
.mask-container .mask-base:before {
  content: ' ';
  background: #e8e8e8;
  position: absolute;
  width: 250px;
  height: 250px;
  right: -100px;
  bottom: 110px;
  border-bottom-right-radius: 350px;
  -webkit-transform: rotate(-22deg);
  -moz-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
}
.mask-container .mask-base:after {
  content: ' ';
  background: #e8e8e8;
  position: absolute;
  width: 150px;
  height: 150px;
  left: -5px;
  bottom: 5px;
  border-bottom-left-radius: 190px;
  border-bottom-right-radius: 190px;
}
.mask-container .pre-eye-brow-shadow-left {
  width: 79px;
  height: 123px;
  background: #cfcfcf;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  top: 32px;
  left: 53px;
  border-top-right-radius: 80px;
  border-top-left-radius: 5px;
}
 .mask-container .pre-eye-brow-shadow-left:before {
  content: ' ';
  width: 50px;
  height: 60px;
  position: absolute;
  background: #cfcfcf;
  bottom: -60px;
  right: 0px;
}
.mask-container .pre-eye-brow-shadow-right {
  position: absolute;
  width: 250px;
  height: 250px;
  right: -41px;
  bottom: 229px;
  border-bottom-right-radius: 350px;
  -webkit-transform: rotate(-62deg);
  -moz-transform: rotate(-62deg);
  -ms-transform: rotate(-62deg);
  -o-transform: rotate(-62deg);
  overflow: hidden;
}
.mask-container .pre-eye-brow-shadow-right:before {
  content: ' ';
  width: 92px;
  height: 143px;
  background: #cfcfcf;
  position: absolute;
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
  top: 109px;
  left: 44px;
  border-top-right-radius: 80px;
  border-top-left-radius: 5px;
}
.mask-container .pre-eye-brow-left {
  width: 66px;
  height: 57px;
  position: absolute;
  border: 13px solid #e8e8e8;
  border-bottom: none;
  border-right: none;
  -webkit-transform: rotate(48deg);
  -moz-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  -o-transform: rotate(48deg);
  left: 40px;
  top: 36px;
  border-top-left-radius: 80px 70px;
}
 .mask-container .pre-eye-brow-left:before {
  content: ' ';
  width: 13px;
  height: 15px;
  background: #e8e8e8;
  position: absolute;
  left: -13px;
  bottom: -13px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
 .mask-container .pre-eye-brow-left:after {
  content: ' ';
  width: 15px;
  height: 13px;
  background: #e8e8e8;
  position: absolute;
  right: -7px;
  top: -13px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
 .mask-container .pre-eye-brow-right {
  width: 70px;
  height: 60px;
  position: absolute;
  border: 13px solid #e8e8e8;
  border-bottom: none;
  border-right: none;
  -webkit-transform: rotate(39deg);
  -moz-transform: rotate(39deg);
  -ms-transform: rotate(39deg);
  -o-transform: rotate(39deg);
  right: 33px;
  top: 36px;
  border-top-left-radius: 80px 70px;
}
 .mask-container .pre-eye-brow-right:before {
  content: ' ';
  width: 13px;
  height: 15px;
  background: #e8e8e8;
  position: absolute;
  left: -13px;
  bottom: -12px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
 .mask-container .pre-eye-brow-right:after {
  content: ' ';
  width: 15px;
  height: 13px;
  background: #e8e8e8;
  position: absolute;
  right: -7px;
  top: -13px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
 .mask-container .eye-brow-left {
  width: 110px;
  height: 100px;
  position: absolute;
  left: 15px;
  top: 70px;
  border-top: 15px solid #121212;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  border-top-left-radius: 120px 110px;
  border-top-right-radius: 120px 50px;
  z-index: 1;
}
 .mask-container .eye-brow-left:before {
  content: ' ';
  width: 50px;
  height: 15px;
  background: #121212;
  position: absolute;
  right: 0px;
  top: -7px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px 20px;
  border-bottom-left-radius: 130px 30px;
  border-top-left-radius: 100px 20px;
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
}
 .mask-container .eye-brow-left:after {
  content: ' ';
  width: 30px;
  height: 10px;
  background: #000;
  position: absolute;
  right: 30px;
  top: -8px;
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
}
 .mask-container .eye-brow-right {
  width: 110px;
  height: 100px;
  position: absolute;
  right: 15px;
  top: 70px;
  border-top: 15px solid #121212;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  border-top-left-radius: 120px 50px;
  border-top-right-radius: 120px 110px;
  z-index: 1;
}
 .mask-container .eye-brow-right:before {
  content: ' ';
  width: 50px;
  height: 15px;
  background: #121212;
  position: absolute;
  left: 0;
  top: -7px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 30px 20px;
  border-bottom-right-radius: 130px 30px;
  border-top-right-radius: 100px 20px;
  -webkit-transform: rotate(-14deg);
  -moz-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  -o-transform: rotate(-14deg);
}
 .mask-container .eye-brow-right:after {
  content: ' ';
  width: 30px;
  height: 10px;
  background: #000;
  position: absolute;
  left: 28px;
  top: -8.1px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
}
 .mask-container .eye-brow-shadow-left {
  width: 147px;
  height: 70px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  overflow: hidden;
  position: absolute;
  left: 24px;
  top: 89px;
  padding-top: 0px;
}
 .mask-container .eye-brow-shadow-left:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  width: 147px;
  height: 60px;
  background: #a1a1a1;
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 100px 60px;
  border-bottom-left-radius: 5px;
}
 .mask-container .eye-brow-shadow-left:before {
  content: ' ';
  position: absolute;
  right: 16px;
  top: 0px;
  width: 100px;
  height: 100px;
  background: #a1a1a1;
  border-top-right-radius: 60px 80px;
  -webkit-transform: rotate(-33deg);
  -moz-transform: rotate(-33deg);
  -ms-transform: rotate(-33deg);
  -o-transform: rotate(-33deg);
}
 .mask-container .eye-brow-shadow-left .eye-left {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: absolute;
  left: -83px;
  top: 16px;
  z-index: 1;
}
 .mask-container .eye-brow-shadow-left .eye-left:before,
 .mask-container .eye-brow-shadow-left .eye-left:after {
  background: #707070;
}
 .mask-container .eye-left:before {
  content: ' ';
  width: 82px;
  height: 27px;
  background: #a1a1a1;
  position: absolute;
  left: 37px;
  top: 124px;
  border-top-right-radius: 90px 35px;
  border-top-left-radius: 60px 30px;
  border-bottom-right-radius: 42px 10px;
  clip: rect(0px, 90px, 20px, 0px);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
}
 .mask-container .eye-left:after {
  content: ' ';
  width: 112px;
  height: 27px;
  background: #a1a1a1;
  position: absolute;
  left: 24px;
  top: 124px;
  border-bottom-right-radius: 90px 35px;
  border-bottom-left-radius: 62px 40px;
  clip: rect(20px, 100px, 30px, 0);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
}
 .mask-container .eye-left .eye-left-inner:before {
  content: ' ';
  z-index: 1;
  position: absolute;
  background: #121212;
  width: 90px;
  height: 50px;
  top: 130px;
  left: 33px;
  border-top-right-radius: 60px 60px;
  border-top-left-radius: 80px 40px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  clip: rect(0, 90px, 11px, 0);
}
 .mask-container .eye-left .eye-left-inner:after {
  content: ' ';
  z-index: 1;
  position: absolute;
  background: #121212;
  width: 140px;
  height: 50px;
  top: 96px;
  left: 10px;
  border-bottom-right-radius: 80px 50px;
  border-bottom-left-radius: 80px 50px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  clip: rect(44px, 130px, 60px, 0);
}
 .mask-container .eye-left-mascara {
  position: absolute;
  background: #a1a1a1;
  width: 100px;
  height: 120px;
  top: 130px;
  left: 10px;
  border-top-left-radius: 30px 40px;
  border-bottom-left-radius: 70px 80px;
}
 .mask-container .eye-left-mascara:before {
  content: ' ';
  position: absolute;
  background: #e8e8e8;
  width: 15px;
  height: 10px;
  left: 16px;
  top: -1px;
  border-bottom-left-radius: 10px 7px;
}
 .mask-container .eye-brow-shadow-right-2 {
  position: absolute;
  width: 250px;
  height: 250px;
  right: -41px;
  bottom: 229px;
  border-bottom-right-radius: 350px;
  -webkit-transform: rotate(-62deg);
  -moz-transform: rotate(-62deg);
  -ms-transform: rotate(-62deg);
  -o-transform: rotate(-62deg);
  overflow: hidden;
}
 .mask-container .eye-brow-shadow-right-2:before {
  content: ' ';
  width: 82px;
  height: 133px;
  background: #707070;
  position: absolute;
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
  top: 118px;
  left: 36px;
  border-top-right-radius: 90px 80px;
  border-top-left-radius: 5px;
}
 .mask-container .eye-brow-shadow-right {
  position: absolute;
  background: #a1a1a1;
  width: 90px;
  height: 130px;
  left: 157px;
  top: 82px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  border-bottom-left-radius: 56px 90px;
  border-top-left-radius: 50px 40px;
}
 .mask-container .eye-brow-shadow-right:before {
  content: ' ';
  position: absolute;
  background: #a1a1a1;
  width: 100px;
  height: 93px;
  left: 45px;
  top: 37px;
  border-top-right-radius: 40px 50px;
  border-bottom-right-radius: 45px 40px;
  border-bottom-left-radius: 50px 40px;
  border-top-left-radius: 30px 30px;
}
 .mask-container .eye-brow-shadow-right:after {
  content: ' ';
  position: absolute;
  background: #a1a1a1;
  width: 80px;
  height: 63px;
  left: 27px;
  top: -17px;
  border-top-right-radius: 37px 42px;
  border-bottom-right-radius: 85px 30px;
  border-top-left-radius: 30px;
}
 .mask-container .eye-right {
  position: absolute;
  left: 144px;
}
 .mask-container .eye-right:before {
  content: ' ';
  width: 82px;
  height: 27px;
  background: #707070;
  position: absolute;
  left: 37px;
  top: 124px;
  border-top-left-radius: 90px 35px;
  border-top-right-radius: 60px 30px;
  border-bottom-left-radius: 42px 10px;
  clip: rect(0px, 90px, 20px, 0px);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
}
 .mask-container .eye-right:after {
  content: ' ';
  width: 112px;
  height: 27px;
  background: #707070;
  position: absolute;
  left: 21px;
  top: 124px;
  border-bottom-left-radius: 90px 35px;
  border-bottom-right-radius: 62px 40px;
  clip: rect(20px, 100px, 30px, 0px);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
}
 .mask-container .eye-right .eye-right-inner:before {
  content: ' ';
  z-index: 1;
  position: absolute;
  background: #121212;
  width: 90px;
  height: 50px;
  top: 130px;
  left: 33px;
  border-top-left-radius: 60px 60px;
  border-top-right-radius: 80px 40px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  clip: rect(0, 90px, 11px, 0);
}
 .mask-container .eye-right .eye-right-inner:after {
  content: ' ';
  z-index: 1;
  position: absolute;
  background: #121212;
  width: 140px;
  height: 50px;
  top: 96px;
  left: 6px;
  border-bottom-left-radius: 80px 50px;
  border-bottom-right-radius: 80px 50px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  clip: rect(44px, 130px, 60px, 0px);
}
 .mask-container .cheek-left {
  position: absolute;
  background: #e8e8e8;
  width: 100px;
  height: 88px;
  top: 142px;
  left: 10px;
  border-top-left-radius: 25px 34px;
  border-bottom-left-radius: 40px 30px;
  border-bottom-right-radius: 60px 90px;
}
 .mask-container .cheek-left:before {
  content: ' ';
  background: #e8e8e8;
  position: absolute;
  width: 50px;
  height: 40px;
  left: 60px;
  top: 35px;
  -webkit-transform: rotate(-14deg);
  -moz-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  -o-transform: rotate(-14deg);
}
 .mask-container .dimple-left {
  background: #e6d0cf;
  top: 162px;
  left: 26px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
}
 .mask-container .dimple-right {
  background: #a1918f;
  top: 162px;
  left: 223px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
}
 .mask-container .nose-left {
  position: absolute;
  width: 0;
  height: 24px;
  top: 192px;
  left: 115px;
  border-bottom: 7px solid transparent;
  border-right: 17px solid #e8e8e8;
  border-top: 8px solid transparent;
}
 .mask-container .nose-left:before {
  content: ' ';
  position: absolute;
  background: #e8e8e8;
  width: 13px;
  height: 30px;
  right: 0;
  border-top-left-radius: 20px 21px;
  border-bottom-left-radius: 16px 20px;
}
 .mask-container .nose-left:after {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 29px;
  background: #e8e8e8;
  bottom: -3px;
  right: -8px;
  border-top-left-radius: 10px 3px;
}
 .mask-container .nose-right {
  position: absolute;
  width: 0;
  height: 24px;
  top: 192px;
  left: 166px;
  border-bottom: 7px solid transparent;
  border-left: 17px solid #4d4d4d;
  border-top: 8px solid transparent;
}
 .mask-container .nose-right:before {
  content: ' ';
  position: absolute;
  background: #4d4d4d;
  width: 13px;
  height: 30px;
  border-top-right-radius: 20px 21px;
  border-bottom-right-radius: 16px 20px;
}
 .mask-container .nose-right:after {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 29px;
  background: #4d4d4d;
  bottom: -3px;
  left: -8px;
  border-top-right-radius: 10px 3px;
}
 .mask-container .nose-middle {
  position: absolute;
  background: #e8e8e8;
  width: 35px;
  height: 52px;
  left: 135px;
  top: 193px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  border-bottom-right-radius: 30px 20px;
  border-top-right-radius: 30px 20px;
}
 .mask-container .shadow-lvl-1 {
  position: absolute;
  width: 320px;
  height: 470px;
  bottom: 32px;
  left: -48px;
  border-bottom-left-radius: 55px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  border-bottom-right-radius: 210px 250px;
  overflow: hidden;
}
 .mask-container .shadow-lvl-1:before {
  content: ' ';
  position: absolute;
  background: #a1a1a1;
  width: 100px;
  height: 100px;
  top: 253px;
  left: 14px;
  border-bottom-left-radius: 94px 100px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
}
 .mask-container .shadow-lvl-1:after {
  content: ' ';
  background: #a1a1a1;
  position: absolute;
  width: 70px;
  height: 200px;
  bottom: -20px;
  left: 50px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}
 .mask-container .shadow-lvl-2 {
  position: absolute;
  width: 320px;
  height: 470px;
  bottom: 32px;
  left: -48px;
  border-bottom-left-radius: 55px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  border-bottom-right-radius: 210px 250px;
  overflow: hidden;
}
 .mask-container .shadow-lvl-2:before {
  content: ' ';
  position: absolute;
  background: #707070;
  height: 200px;
  width: 180px;
  left: 103px;
  bottom: -20px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  border-top-left-radius: 6px;
}
 .mask-container .shadow-lvl-2:after {
  content: ' ';
  background: #e8e8e8;
  position: absolute;
  width: 50px;
  height: 28px;
  bottom: 150px;
  left: 120px;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  border-right: 10px solid #cfcfcf;
}
 .mask-container .shadow-lvl-3 {
  position: absolute;
  width: 320px;
  height: 470px;
  bottom: 32px;
  left: -48px;
  border-bottom-left-radius: 55px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  border-bottom-right-radius: 210px 250px;
  overflow: hidden;
}
 .mask-container .shadow-lvl-3:before {
  content: ' ';
  position: absolute;
  width: 210px;
  height: 100px;
  bottom: -7px;
  left: 50px;
  border-bottom: 20px solid #4d4d4d;
  border-right: 20px solid #4d4d4d;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  border-bottom-right-radius: 170px 120px;
  border-bottom-left-radius: 40px 24px;
}
 .mask-container .lip:before {
  content: ' ';
  position: absolute;
  width: 120px;
  height: 110px;
  left: 90px;
  bottom: 111px;
  border-bottom: 11px solid #121212;
  border-radius: 50px/17px;
}
 .mask-container .lip:after {
  content: ' ';
  position: absolute;
  width: 144px;
  height: 100px;
  top: 182px;
  left: 78px;
  border-radius: 40%/37%;
  border-bottom: 22px solid #e8e8e8;
}
 .mask-container .lip-shadow {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 50px;
  height: 50px;
  left: 181px;
  bottom: 100px;
  overflow: hidden;
}
 .mask-container .lip-shadow:before {
  content: ' ';
  position: absolute;
  width: 144px;
  height: 100px;
  top: -19px;
  right: 15px;
  border-radius: 40%/37%;
  border-bottom: 22px solid #a1a1a1;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
 .mask-container .moustache-left {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 56px;
  top: 187px;
  border-bottom: 20px solid transparent;
  border-top: 0px solid transparent;
  border-left: 14px solid #121212;
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  border-radius: 25px;
}
 .mask-container .moustache-left:before {
  content: ' ';
  position: absolute;
  width: 33px;
  height: 20px;
  left: -3px;
  top: 54px;
  border-bottom: 16px solid #121212;
  border-right: 18px solid transparent;
  border-left: 0px solid transparent;
  -webkit-transform: rotate(39deg);
  -moz-transform: rotate(39deg);
  -ms-transform: rotate(39deg);
  -o-transform: rotate(39deg);
}
 .mask-container .moustache-left:after {
  content: ' ';
  position: absolute;
  width: 50px;
  height: 69px;
  left: 10px;
  top: 2px;
  -webkit-transform: rotate(-22deg);
  -moz-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
  border-bottom: 24px solid #121212;
  border-left: 6px solid transparent;
}
 .mask-container .moustache-right {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 56px;
  top: 187px;
  border-bottom: 20px solid transparent;
  border-top: 0px solid transparent;
  border-right: 14px solid #121212;
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  border-radius: 25px;
}
 .mask-container .moustache-right:before {
  content: ' ';
  position: absolute;
  width: 33px;
  height: 20px;
  right: -3px;
  top: 54px;
  border-bottom: 16px solid #121212;
  border-left: 18px solid transparent;
  border-right: 0px solid transparent;
  -webkit-transform: rotate(-39deg);
  -moz-transform: rotate(-39deg);
  -ms-transform: rotate(-39deg);
  -o-transform: rotate(-39deg);
}
 .mask-container .moustache-right:after {
  content: ' ';
  position: absolute;
  width: 50px;
  height: 69px;
  right: 10px;
  top: 2px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  border-bottom: 24px solid #121212;
  border-right: 6px solid transparent;
}
 .mask-container .moustache-filler:before {
  content: ' ';
  position: absolute;
  width: 30px;
  height: 15px;
  left: 69px;
  top: 237px;
  border-bottom: 10px solid #121212;
  border-bottom-left-radius: 90px 60px;
  -webkit-transform: rotate(14deg);
  -moz-transform: rotate(14deg);
  -ms-transform: rotate(14deg);
  -o-transform: rotate(14deg);
}
 .mask-container .moustache-filler:after {
  content: ' ';
  position: absolute;
  width: 30px;
  height: 15px;
  right: 69px;
  top: 237px;
  border-bottom: 10px solid #121212;
  border-bottom-right-radius: 90px 60px;
  -webkit-transform: rotate(-14deg);
  -moz-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  -o-transform: rotate(-14deg);
}
 .mask-container .beard-up {
  position: absolute;
  background: #121212;
  width: 27px;
  height: 5px;
  left: 137px;
  bottom: 94px;
  border-radius: 50%/50%;
}
 .mask-container .beard-up:before {
  content: ' ';
  position: absolute;
  width: 19px;
  left: 0px;
  top: 3px;
  border-top: 13px solid #121212;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
 .mask-container .beard-up:after {
  content: ' ';
  position: absolute;
  background: #121212;
  width: 21px;
  height: 10px;
  left: 3px;
  top: 11px;
}
 .mask-container .beard-down {
  position: absolute;
  background: #121212;
  width: 32px;
  height: 50px;
  left: 134px;
  bottom: 36px;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}
 .mask-container .beard-down:before {
  content: ' ';
  position: absolute;
  width: 14px;
  left: 1px;
  bottom: -30px;
  border-top: 45px solid #121212;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
 .mask-container .beard-down:after {
  content: ' ';
  position: absolute;
  bottom: -40px;
  left: 9px;
  border-top: 10px solid #121212;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
