<div class="d-flex flex-column m-5 p-5" style="align-items: center; justify-content: center">
  <div class="d-flex flex-column" style="align-items: center;width:350px">
    <app-header></app-header>
    <app-address-assets class="w-100"
                        [accountAddressesList]="accountAddresses"
                        [assetAddressesList]="assetAddresses"
                        (publicKeyChanged)="updatePublicKey($event)"
                        (assetIdChanged)="updateAssetId($event)">
    </app-address-assets>

    <div *ngIf="assetId !== 'ETH'">
      <button class="btn btn-outline btn-lg" (click)="approveAsset()">APPROVE</button>
    </div>

  </div>

  <div class="row">


    <div class="col-12 pt-4" *ngIf="assetId === 'ETH' || isApproved">
      <h3 align="center">Your private balance is: 12 pWETH</h3>
      <div class="text-center">
        <button class="btn btn-outline btn-lg"
                [ngClass]="{'active': subState==='deposit'}"
                (click)="subState='deposit'">DEPOSIT
        </button>

        <button class="btn btn-outline btn-lg"
                [ngClass]="{'active': subState==='withdraw'}"
                (click)="subState='withdraw'">TRANSFER
        </button>

        <button class="btn btn-outline btn-lg"
                [ngClass]="{'active': subState==='transfer'}"
                (click)="subState='transfer'">WITHDRAW
        </button>
      </div>

      <div [ngSwitch]="subState">

        <app-deposit *ngSwitchCase="'deposit'"></app-deposit>
        <app-transfer *ngSwitchCase="'withdraw'"></app-transfer>
        <app-withdraw *ngSwitchCase="'transfer'"></app-withdraw>
        <div *ngSwitchDefault></div>

      </div>
    </div>
  </div>

</div>
