<div id="body" class="full-screen center wizard-container" style="flex-direction: column;align-items: center">

  <div class="wizard" style="align-items: center; display: flex;flex-direction: column">

    <app-header></app-header>

    <app-address-assets></app-address-assets>
    <button class="btn btn-outline btn-lg" (click)="approveAsset()">APPROVE</button>

  </div>

  <div class="row">


    <div class="col-12 pt-4" *ngIf="isApproved">
      <h3 align="center">Your private balance is: 12 pWETH</h3>
      <div class="text-center">
        <button class="btn btn-outline btn-lg"
                [ngClass]="{'active': subState==='deposit'}"
                (click)="subState='deposit'">DEPOSIT
        </button>

        <button class="btn btn-outline btn-lg"
                [ngClass]="{'active': subState==='withdraw'}"
                (click)="subState='withdraw'">TRANSFER
        </button>

        <button class="btn btn-outline btn-lg"
                [ngClass]="{'active': subState==='transfer'}"
                (click)="subState='transfer'">WITHDRAW
        </button>
      </div>

      <div [ngSwitch]="subState">

        <app-deposit *ngSwitchCase="'deposit'"></app-deposit>
        <app-transfer *ngSwitchCase="'withdraw'"></app-transfer>
        <app-withdraw *ngSwitchCase="'transfer'"></app-withdraw>
        <div *ngSwitchDefault></div>

      </div>
    </div>
  </div>

</div>
