<div class="container mt-5 pt-5">
  <div class="col-12">
    <div class="text-center">
      <app-header></app-header>
    </div>
    <p class="good-header text-center">
      Setup Anonymous Account <br> on BabyJubJub Elliptic Curve
    </p>
    <div class="form-group col-12 pt-4">
      <label for="address">Enter mnemonic:</label>
      <textarea class="form-control" type="text" rows="5" id="address" aria-describedby="address" placeholder=""
                [(ngModel)]="mnemonic" required></textarea>
    </div>
    <div class="btn-group-lg pt-4 text-center pb-4">
      <!--
        <button class="btn btn-outline btn-lg" (click)='generateWallet()'>Generate Wallet</button>
      -->
      <button class="btn btn-outline btn-lg" (click)='importWallet()'>Import Wallet</button>
      <button class="btn btn-outline btn-lg" (click)='goToDashboard()'>Next</button>
    </div>
  </div>
</div>
