<div class="box mt-4">
  <div class="form-group col-8 offset-2">
    <label>Amount</label>
    <input type="number" class="form-control" [(ngModel)]="amount" placeholder="Enter amount">
    <!--  <small id="amountHelp" class="form-text text-muted">Error must be more 0</small>-->
  </div>
  <div class="form-group col-8 offset-2">
    <label>Address</label>
    <input type="text" class="form-control" [(ngModel)]="address" placeholder="Enter address">
    <!--  <small id="amountHelp" class="form-text text-muted">Error must be more 0</small>-->
  </div>
  <div class="btn-group-lg pt-4 text-center pb-4">
    <!--
      <button class="btn btn-outline btn-lg" (click)='generateWallet()'>Generate Wallet</button>
    -->
    <button class="btn btn-outline btn-lg" (click)='withdrawal()'>Withdraw</button>
    <!--<button class="btn btn-outline btn-lg" (click)='goToDashboard()'>Next</button>-->
  </div>
</div>
