<div class="box mt-4">
  <div class="form-group col-8 offset-2">
    <label for="amount">Amount</label>
    <input type="number" class="form-control" id="amount" aria-describedby="amount" placeholder="Enter amount">
    <!--  <small id="amountHelp" class="form-text text-muted">Error must be more 0</small>-->
  </div>
  <div class="form-group col-8 offset-2">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" aria-describedby="address" placeholder="Enter address">
    <!--  <small id="amountHelp" class="form-text text-muted">Error must be more 0</small>-->
  </div>
</div>
