<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card p-3">
        <div class="d-inline-flex justify-content-around">
          <app-head></app-head>
        </div>
        <div class="row">
        <hr class="col-8 offset-2" style="border:0.5px solid black">
        </div>
        <app-address-assets></app-address-assets>
        <div class="text-center pt-4">
          <app-dashboard></app-dashboard>
        </div>
      </div>
    </div>
  </div>
</div>
