<router-outlet></router-outlet>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <div class="card p-3">-->
<!--        <div class="d-inline-flex justify-content-around">-->
<!--          <app-head></app-head>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--        <hr class="c0l-8 offset-2" style="border:0.5px solid black">-->
<!--        </div>-->
<!--        <app-address-assets></app-address-assets>-->
<!--        <div class="text-center">-->
<!--          <app-dashboard></app-dashboard>-->
<!--        </div>-->
<!--        <app-deposit></app-deposit>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
